<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baili.dao.TbShoesinforMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baili.pojo.TbShoesinfor">
        <id column="shoesinfor_id" property="shoesinforId" />
        <result column="goods_id" property="goodsId" />
        <result column="shoesinfor_show" property="shoesinforShow" />
        <result column="shoesinfor_height" property="shoesinforHeight" />
        <result column="shoesinfor_mater" property="shoesinforMater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shoesinfor_id, goods_id, shoesinfor_show, shoesinfor_height, shoesinfor_mater
    </sql>

</mapper>
